/* General CSS */

body { background-color: #f2f3f5 !important; }

.card { box-shadow: 2px 2px 8px 0 rgba(46,61,73,.2); }

/* GlimmerMap Component */
.glimmer-map { height: 100vh; }
.glimmer-map > #map {
  height: 100%;
  width: 100%;
}

/* RestaurantPreview Component */
.restaurant-preview {
  position: fixed;
  z-index: 1000;
  bottom: 3rem;

  width: 100%;

  background-color: white;
}
.preview-thumbnail {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.preview-content { padding: 10px; }
.ratings > .fa-star { color: yellow; }

/* Navbar Component */
.glimmer-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: #3A3D3D;
  color: white;
  font-size: 1.5rem;
}
.selected { color: #61C0A2; }

/* Card Changes */
.card-badge-row {
  overflow: hidden;
  max-height: 1.6rem;
}
.card-right-chevron {
  position: absolute;
  top: 3rem;
  right: 1rem;;
  color: #61C0A2;
}

.badge-secondary {
  background-color: #61C0A2;
}

/* RestaurantView Component */
.rv-map {
  margin: 0 -15px;
  height: 10rem;
}
